<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Efficient Algorithms 2021 Practical Leaderboard</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
        <script src="./js/numeral.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="./index.html">Efficient Algorithms 2021</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <ul class="nav">
                    <li class="nav-item">
                        <a href="snap.html" class="nav-link text-white">SNAP</a>
                    </li>
                    <li class="nav-item">
                        <a href="imdb.html" class="nav-link text-white">IMDB</a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- Page content-->
        <div id="app" class="container">
            <div >
                <h1 class="mt-5">SNAP</h1>
                <p><strong>Last Update Time: {{last_update_time}}</strong></p>
                <p>The following tables show the execution time (ms) of the queries on the snap datasets. The tables are ordered by the total execution time over all queries on the corresponding dataset in ascending order. </p>

            </div>
            
            <div>
              <p><strong>SNAP Overall</strong></p>
              <table class="table table-hover table-sm">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Repository</th>
                    <th class="text-right " scope="col">Total</th>
                    <th v-for="query in snap_queries" class="text-right " scope="col">{{query}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(student, i) in snap_overall_students.sort((s_a,s_b) => s_a.snap_timeout ? 1 : (s_b.snap_timeout ? -1 : snap_queries.map(q => s_a[q]).reduce((a,b) => a+b, 0) - snap_queries.map(q => s_b[q]).reduce((a,b) => a+b, 0)))">
                    <th scope="row">{{i+1}}</th>
                    <td>{{student.repository}}</td>
                    <td class="text-right">{{snap_queries.map(q => student[q]).reduce((a,b) => a+b, 0) | formatNumber}}</td>
                    <td v-for="query in snap_queries" class="text-right ">{{student[query] | formatNumber}}</td>
                  </tr>
                </tbody>
              </table>

              <br>
            </div>

            <div v-for="dataset in snap_datasets">
              <p><strong>SNAP {{dataset}}</strong></p>
              <table class="table table-hover table-sm">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Repository</th>
                    <th class="text-right " scope="col">Total</th>
                    <th v-for="query in snap_queries" class="text-right " scope="col">{{query}}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(student, i) in formatted_students.sort((s_a,s_b) => s_a.snap_timeout ? 1 : (s_b.snap_timeout ? -1 : snap_queries.map(a => parseInt(s_a[dataset + '-' + a])).reduce((a,b) => a +b, 0) - snap_queries.map(a => parseInt(s_b[dataset + '-' + a])).reduce((a,b) => a +b, 0)))">
                    <th scope="row">{{i+1}}</th>
                    <td>{{student.repository}}</td>
                    <td class="text-right">{{snap_queries.map(a => parseInt(student[dataset + '-' + a])).reduce((a,b) => a +b, 0) | formatNumber}}</td>
                    <td v-for="query in snap_queries" class="text-right ">{{student[dataset+'-' + query] | formatNumber}}</td>
                  </tr>
                </tbody>
              </table>

              <br>
            </div>


        </div>
        <!-- Bootstrap core JS-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/data.js"></script>
        <script src="js/scripts.js"></script>

        
    </body>
</html>
